
<div class="m-4">
 
  <nav class="navbar fixed-top navbar_main navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <div>
        <a >about</a>
        <h4>
          <svg
            width="50px"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 brand_icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
            />
          </svg>

          <span class="bootstrap">BOOTSTRAP</span>
          <span class="made">MADE</span>
        </h4>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav nav_div collapse navbar-collapse">
          <a
            routerLink="home"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Home
          </a>

          <select
            routerLink="template"
            routerLinkActive="active"
            class="nav-item nav-link"
            name="cars"
            id="cars"
          >
            <option value="volvo">Templates</option>
            <option value="saab">Templates</option>
            <option value="mercedes">Bootstrap</option>
            <option value="audi">Website</option>
          </select>
          <a
            routerLink="license"
            routerLinkActive="active"
            class="nav-item nav-link"
            >License</a
          >

          <a
            routerLink="contact"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Contact</a
          >
          <a
            routerLink="members"
            routerLinkActive="active"
            class="nav-item nav-link"
          >
            <span>
              <svg
                class="avatar-icon"
                width="20px"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>

              Members</span
            >
          </a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="example">
            <input type="text" placeholder="Search.." name="search" />
            <button routerLink="template"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
<div class="container container_router_outlet">
  <router-outlet></router-outlet>
</div>
