<div class="m-4">
  <nav class="navbar fixed-top navbar_main navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <div>
        <h4>
          <svg
            width="50px"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 brand_icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z"
            />
          </svg>
          <span class="bootstrap">BOOTSTRAP</span>
          <span class="made">MADE</span>
        </h4>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav nav_div">
          <a
            routerLink="home"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Home
          </a>
          <a
            routerLink="template"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Templates</a
          >
          <a
            routerLink="license"
            routerLinkActive="active"
            class="nav-item nav-link"
            >License</a
          >
          <a
            routerLink="contact"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Contact</a
          >
          <a
            routerLink="members"
            routerLinkActive="active"
            class="nav-item nav-link"
          >
            <span>
              <svg
                width="20px"
                class="avatar-icon"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                />
              </svg>
              Members</span
            >
          </a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
<div class="container container_router_outlet">

  <router-outlet ></router-outlet>
</div>
