<br /><br /><br /><br />
<div class="container box">
  <h1>Bootstrap <span class="title">Website </span> Templates</h1>
</div>
<br /><br />
Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi esse eligendi
labore aperiam! Fuga consequatur eum ipsum aut sed dolor qui exercitationem.
Quasi neque numquam odio libero, natus ab ipsam.
<br /><br />
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sapiente molestias
doloribus, exercitationem eaque corrupti?
<br /><br />
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores atque a vel
obcaecati nihil voluptas veritatis fugit, dolor suscipit, hic quis illum, natus
perferendis consequuntur corrupti deserunt? Officiis, doloribus facere.
<br /><br />
<br /><br />
<div class="card flex-row flex-wrap">
  <div class="card-header border-0">
    <!-- src="../assets/image/apple.png"  -->
    <img 
    
    src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/affordability-facebook-og?wid=1200&hei=630&fmt=jpeg&qlt=95&.v=1600376390000"
    class="img-fluid" alt="" />
  </div>
  <br />

  <span
    ><h3>
      <br />
      <br />
      Apple is an American MNC headquartered in California. <br />
      <br /><br />
      <h5>
        As of March 2023, Apple is the world's biggest company by market
        capitalization.
      </h5>
    </h3></span>
</div>

<br />

<div class="card flex-row flex-wrap">
  <div class="card-header border-0">
    <!-- src="../assets/image/mi.png" -->
    <img src="https://operationsclubimi.files.wordpress.com/2019/08/xiaomi-the-meaning-of-budget-friendly-electronics.jpg" class="img-fluid" alt="" />
  </div>
  <br />

  <span
    ><h3>
      <br />
      <br />
      Xiaomi Corporation, commonly known as Xiaomi <br />
      <br /><br />
      <h5>
        As of March 2023, Apple is the world's biggest company by market
        capitalization.
      </h5>
    </h3></span
  >
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, quisquam!
Debitis sapiente saepe eaque odio maxime ipsa, eum laudantium ducimus placeat
dignissimos, porro consequuntur harum provident id! Ad, vel culpa maxime tempora
expedita veritatis illum quisquam tempore iste dicta asperiores eos assumenda
repudiandae saepe. Repellat a tempora architecto nemo quae.
