<br /><br />
<div class="container box">
  <h1 > <span class="title">Members </span>  </h1>
</div>
<br /><br />
<br>
<div class="container box">
  <div class="card">
    <br />
    <form class="form-inline memberform">
      <label  >Your Email</label>
      <input
      type="text"
      class="form-control mb-2 mr-sm-2"
      id="inlineFormInputName2"
      placeholder="Jane Doe"
      />
      
      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label
        ><br />
        <label  >Your Password</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername2"
          placeholder="Username"
        />
      </div>
      <br />
     
      <br />
      <span>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </span>
    </form>
  </div>
</div>
