<br /><br />
<br /><br /><br />
<div class="container box">
  <h1>Mem<span class="title">bers L</span>ogin  </h1>
</div>
<br /><br />
<br />
<div class="container box">
  <div class="card">
    <br />
    <form
      #login="ngForm"
      (ngSubmit)="onSubmit(login.value)"
      class="form-inline memberform"
    >
      <br />
      <div>
        <label class="hello">Your Email</label>

        <input
          type="text"
          placeholder="Enter your Email"
          name="email"
          ngModel
        />
      </div>

      <br />
      <div>
        <label class="hello">Your Password</label>

        <input
          type="password"
          placeholder="Enter your Password"
          name="password"
          ngModel
        />
      </div>
      <br />

      <span>
        <button type="submit" class="btn submitButton btn-primary mb-2">
          Submit
        </button>
        <br />
      </span>
      <br />
    </form>
  </div>
</div>
